/.ICEauthority
/.Xauthority
/.bash_history
/.cache/
/.cargo/
/.cisco/
/.config/
/.cookiecutter_replay/
/.cookiecutters/
/.curlrc
/.davfs2/
/.dbus/
/.ddd/
/.dmrc
/.esd_auth
/.face
/.face.icon
/.fltk/
/.fonts/
/.gconf/
/.gem/
/.gemrc
/.gimp-2.8/
/.gnome/apps/chrome-*
/.gnupg/
/.gtkrc-2.0
/.home.git/
/.home2.git/
/.hplip/
/.ignore
/.ipython/
/.irb-history
/.java/
/.kde/
/.keychain/
/.lesshst
/.links2/
/.lldb/
/.local/
/.localvimrc_persistent
/.macromedia/
/.minttyrc
/.mozilla/
/.mplayer/
/.multirust
/.mypki
/.pki/
/.pyenv/
/.pylint.d/
/.pypirc
/.python_history
/.recently-used
/.rnd
/.rpmdb/
/.rustup/
/.rvm/
/.rvmrc
/.sane/
/.selected_editor
/.spacemacs.d/
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/.swp
/.texlive2017/
/.thumbnails/
/.thunderbird/
/.tox/
/.vim/
/.viminfo
/.vimlocal/
/.vimuserlocal/.netrwhist
/.vimuserlocal/spell/
/.vnc/
/.w3m/
/.wget-hsts
/.wine/
/.xargo/
/.xorgxrdp.*
/.xsel.log
/.xsession-errors
/3D Objects/
/AppData/
/Application Data/
/Citrix/
/Desktop
/Documents/My Music/
/Documents/My Pictures/
/Documents/My Videos/
/Local Settings/
/MicrosoftEdgeBackups/
/My Documents/
/NTUSER.DAT*
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/_curlrc
/_viminfo
/_vimlocal/
/_vimrc
/_vimuserlocal/.netrwhist
/_vimuserlocal/spell/
/build
/download
/envs
/go/
/h
/konsole.txt
/logs
/ntuser.*
/projects
/reviews
/rpmbuild
/src/
/tmp
/vim
/vimfiles
/vms
/vmware
/x
/x-tools/
